<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a b-slate-link href="http://www.czhuangjia.top" target="_blank"> 竹合</a>
    <span px-1>|</span>
    <a b-slate-link href="https://www.czhuangjia.top" target="_blank">
      个人博客
    </a>
  </p>
</footer>
