---
import Logo from "./Logo.astro";
import Themetoggle from "./Themetoggle.astro";
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">竹合</span>
    <span class="gpt-subtitle">在线陪聊</span>
  </div>
  <p mt-1 op-60>给你内心最深处的安慰</p>
</header>
